#cashier,#cashier::-webkit-input-placeholder
{
    background: #000 !important;
    color:greenyellow !important;
    font-size: 30px !important;
    height: 70px;
    font-weight: bold;
    border:5px solid gray !important;
}

#subtotal,#subtotal::-webkit-input-placeholder
{
    background:#FC3 !important;
    color:#000 !important;
    font-size: 30px !important;
    height: 70px;
    font-weight: bold;
    border-radius: 9px;
    /*border:5px solid gray !important;*/
}